body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f2f5;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 80px;
}

.logo {
  color: #1877f2;
  font-size: 56px;
}

.left p {
  font-size: 24px;
  max-width: 400px;
}

.login-box {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #1877f2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.create-btn {
  width: 100%;
  padding: 12px;
  background: #42b72a;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
}

.forgot {
  text-align: center;
  color: #1877f2;
  cursor: pointer;
}

.home {
  text-align: center;
  margin-top: 100px;
}

